*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    scroll-behavior: smooth;
}

/* Pour les navigateurs WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(228, 176, 53);
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(53, 53, 55);
  }


body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(53, 53, 55);
    color: white;
    font-style: normal;
    text-align: justify;
    line-height: 1.5;
}


header{
    position: static;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(228, 176, 53);
    font-weight: bold;
    padding: 20px 5% ;
}

.bouton{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 100px;
    margin: 0pc;
}

.bouton a {
    color: rgb(228, 176, 53);
    text-decoration: none;
    font-weight: bold;
}

.projet h4 a {
    text-decoration: none;
    color: rgb(228, 176, 53);
    font-size: 20px;
}

.projet h4 a:hover {
    text-decoration:underline;
}

.bouton a:hover{
    text-decoration: underline;
}





/*Introduction*/
.intro{
    padding: 200px 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    color: white;
    border-bottom: solid 1px white;
}

.image_intro{
    display: flex;
    align-items: center;
}

.image_intro img {
    border: solid 3px white;
    border-radius: 50%;
    background-color:  rgb(44, 49, 61);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
}

.intro .barre{
    width: 3px;
    background-color: white;
}

.intro .texte{
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.intro .texte p:first-child{
    font-size: 35px;
    margin: 0;
}

.intro .texte p{
    font-size: 17px;
    margin: 0;
}


h1{
    font-size: 30px;
    color: rgb(228, 176, 53);
}

h2{
    font-size: 20px;
    color: rgb(228, 176, 53);
}

h3{
    font-size: 20px;
    color: rgb(228, 176, 53);
}

h4{
    font-size: 20px;
    color: rgb(228, 176, 53);
}




/*Image*/
.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image img {
    border: solid 5px white;
}



/*Parcours*/
#parcours{
    padding: 50px 100px 50px 100px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#presentation{
    display: grid;
    grid-template-columns: 1fr 420px;
    gap: 50px;
}

#parcoursScolaire{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.etape{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.description{
    display: flex;
    flex-direction: row;
    gap: 50px;
}







/*Competence*/
#comptetences{
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.alignementCompetence{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

.uneCompetence{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.uneCompetence .description{

}






/*Realisation*/
#realisation{
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#realisationContenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    flex-wrap: wrap;
}

#realisationContenu .projet{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-width: 500px;
}






/*Projets Personnel*/

#projetPersonnel{
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.lesprojets{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    flex-wrap: wrap;
}

.lesprojets .projet{
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    min-width: 500px;
    max-width: 500px;
    border: solid 1px white;
    border-radius: 5%;
}






/*Projet professionnel*/
#projetProfessionnel{
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}



/*contacts*/
#contacts{
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#contacts img{
    border: none;
}

.lescontacts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contacts .contact{
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    border: solid 1px white;
    border-radius: 5%;
}

#contacts a{
    text-decoration: none;
}